@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button{
    font-size: 20px;
    color: #fff;
    background-color: rgb(84, 0, 84);
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    cursor: pointer;
    
}

.button:hover{
    opacity: 0.8;
}

.button:focus{
    outline: 0;
}

.button:active{
    transform: scale(0.98);
}